<div class="card">
  <div class="card-header">
    Clientes
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Davi</td>
        <td>Alexandrias de Oliveira</td>
        <td>Editar - Excluir</td>
      </tr>
      <tr>
        <td>Davi</td>
        <td>Alexandrias de Oliveira</td>
        <td>Editar - Excluir</td>
      </tr>
      <tr>
        <td>Davi</td>
        <td>Alexandrias de Oliveira</td>
        <td>Editar - Excluir</td>
      </tr>
    </tbody>
  </table>
</div>


